<!-- Section -->
<section>
    <header>
        <h2>Wanna see my Full Résume?</h2>
    </header>
    <div class="content">
        <p>If <strong>You</strong> would like to examine in depth my Full Résume you can download it here.</p>
        <ul class="actions">
            <li><a href="@(Model.CV.File.Url.ToString())" target="_blank" class="button primary large">Download</a></li>
            @*<li><a href="#" class="button large">↓ </a></li>*@
        </ul>
    </div>
</section>
<!-- End Section -->