@{
    Layout = "~/Views/Shared/_LayoutBackend.cshtml";
    ViewBag.Title = "Account";
}

@section Breadcrumbs{
    <!--this might be a partial too.-->
    <ul class="breadcrumbs pull-left">
        <li><a href="@Url.Action("Dashboard","Account")">Dashboard</a></li>
        <li><span>Account</span></li>
    </ul>
}

<div class="col-12 mt-5">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">Edit your profile</h4>
            <p class="text-muted font-14 mb-4">The following inputs have no validations of any sorts atm.</p>
            <div id="accordion2" class="according accordion-s2">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link collapsed" data-toggle="collapse" href="#accordion21" aria-expanded="false">
                            Personal Information
                        </a>
                    </div>
                    <div id="accordion21" class="collapse show" data-parent="#accordion2" style="" aria-expanded="true">
                        <div class="card-body">
                            <form>
                                <div class="media mb-5">
                                    <div>
                                        <img class="align-self-end img-fluid mr-4" src="https://images.ctfassets.net/2pgesq61jgu9/31VZ4BiykCFapgFvcxjGDF/5441434a66a9be72fdbca25030721669/Immagine.png" alt="image">
                                        <br />
                                        <input type="file" />
                                    </div>

                                    <div class="media-body">

                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="example-text-input" class="col-form-label">Pronouns</label>
                                                    <select class="form-control">
                                                        <option selected>He / Him</option>
                                                        <option>She / Her</option>
                                                        <option>They / Them</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label for="example-text-input" class="col-form-label">First Name</label>
                                                    <input class="form-control" type="text" value="Davide" id="example-text-input">
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label for="example-text-input" class="col-form-label">Last Name</label>
                                                    <input class="form-control" type="text" value="Donadio" id="example-text-input">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="example-date-input" class="col-form-label">Date of Birth</label>
                                            <input class="form-control" type="date" value="1994-06-10" id="example-date-input">
                                        </div>
                                    </div>

                                </div>
                                <button class="btn btn-primary" type="button" onclick="alert('Personal info changed with Success!')">Change</button>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#accordion22">
                            Account
                        </a>
                    </div>
                    <div id="accordion22" class="collapse" data-parent="#accordion2">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="example-date-input" class="col-form-label">Change e-Mail</label>
                                <div class="input-group">
                                    <input class="form-control" type="email" value="name@example.com">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" onclick="alert('E-mail info changed with Success!')">Change</button>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            <hr />
                            <h4>change password</h4>
                            <br />
                            <br />
                            <form>
                                <div class="form-group">
                                    <label for="inputPassword" class="">Old Password</label>
                                    <input type="password" class="form-control" id="inputPassword" value="inputPassword" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="">New Password</label>
                                    <input type="password" class="form-control" id="inputPassword" value="inputPassword" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="">Confirm New Password</label>
                                    <input type="password" class="form-control" id="inputPassword" value="inputPassword" placeholder="Password">
                                </div>
                                <button class="btn btn-primary" type="button" onclick="alert('Password changed with Success!')">Change</button>

                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>