
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="form-gp">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" autocomplete="off">
    <i class="ti-user"></i>
    <div class="text-danger"></div>
</div>
<div class="form-gp">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" autocomplete="off">
    <i class="ti-lock"></i>
    <div class="text-danger"></div>
</div>
